project_id          = "api-warehouse-prod"
billing_account_id  = "XXXXXX-XXXXXX-XXXXXX"
operator_email      = "you@example.com" # account you use for `gcloud builds triggers run` / console
region              = "europe-west2"
github_owner        = "rikkijames"
github_repo         = "api_warehouse"
github_connection_name = "github-connection" # only if you named it something else
job_deletion_protection = false